{% extends 'base.html' %}
{% block title %}Delete review{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <h1>Are you sure want to delete
        <a href="{% url 'webapp:reviews_view' review.pk %}">{{ review.pk }}</a>?
    </h1>
     {% if perms.webapp.delete_mission %}
        <form method="POST" action="{% url 'webapp:reviews_delete' review.pk %}" class="text-center">
            {% csrf_token %}
            <p><input type="submit" class = 'btn' value="Confirm"></p>
            <p><a href="{% url 'webapp:index'  %}" class = 'btn'>Cancel</a></p>
        </form>
    {% endif %}
{% endblock %}